* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 5vw;
}

.user {
    position: absolute;
    right: 15vw;
    background: #a4d6f6;
    padding: 5px 15px;
    border-radius: 10px;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2vw;
    text-decoration: none;
}

/* MENU BUTTON */
.menu-wrapper {
    position: absolute;
    right: 5vw;
}

.menu-btn {
    display: none;
    font-size: 6vw;
    border: none;
    background: none;
    cursor: pointer;
}

.btn{
    background-color: #6ec8ff;
    margin-bottom: 20px;
}

/* 🔥 SIDE DRAWER */
.menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}

/* CENTER MENU ITEMS */
.menu ul {
    list-style: none;
    text-align: center;
}

.menu li {
    margin: 20px 0;
    font-size: 18px;
}

/* HERO */
.hero {
    display: flex;
    height: 90vh;
}

.hero-left {
    width: 50%;
    padding: 10vh 5vw;
}

.hero-right {
    width: 50%;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    color: #2c98db;
}

/* ================= MOBILE ================= */
@media (max-width: 600px) {

    .navLinks {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .navbar {
        justify-content: space-between;
        padding: 0 5vw;
    }

    .logo, .user {
        position: static;
    }

    /* 🔥 SHOW DRAWER */
    .menu-wrapper:focus-within .menu {
        right: 0;
    }

    /* HERO STACK */
    .hero {
        flex-direction: column;
    }

    .hero-left, .hero-right {
        width: 100%;
    }

    .hero-right img {
        height: 40vh;
    }
}